<!DOCTYPE html>
<html>
    <head>
        {% include tracking.html %}
        {% include head.html %}
        <style type="text/css">
          {% include main.css %}
        </style>
    </head>
    <body>
        <div id="landing">
            {% include header.html %}
            {% include social.html %}
            <p class="acknowledgements">The background image of the Omega Nebula courtesy of NASA.</p>
        </div>
        <dix id="main">
          {{ content }}
        </dix>
    </body>
</html>
